.main-container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.sub-container {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  width: 300px;
}

.header,
.header:focus {
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0;
}

.input-box,
.header:focus {
  width: 250px;
  height: 28px;
  line-height: 25px;
  margin: 20px 0;
  border: 1.2px solid #aaa;
  border-radius: 3px;
}

.new-task {
  font-size: 18px;
}

.input-box:focus {
  outline: none;
}

.task {
  display: flex;
  justify-content: left;
  cursor: pointer;
  margin: 8px 0px;
  width: 98%;
  height: 22px;
}

.task-container {
  width: 98%;
  display: flex;
}

.todo .status {
  background-color: lightskyblue;
}

.doing .status {
  background-color: lightsalmon;
}

.done .status {
  background-color: lightgreen;
}

.todo .task-content,
.doing .task-content {
  text-decoration: none;
}

.done .task-content {
  text-decoration: line-through;
}

.done .status,
.todo .status,
.doing .status {
  width: 5px;
}

.done .task-content,
.todo .task-content,
.doing .task-content {
  padding-top: 3px;
  font-size: 19px;
  margin-left: 10px;
  overflow: scroll;
}

.delete-button {
  display: none;
  border: none;
  background-color: white;
  font-size: 18px;
  font-weight: 600;
}

.task:hover > .delete-button {
  display: block;
  cursor: pointer;
}
